img {
  display:block;
  width:100%;
  margin-bottom:3px;
}
img:nth-child(even) {
  display:none;
}
@media only screen and (min-width:25em) {
  img {
    float:left;
    width:49%;
    margin-right:1%;
  }
  img:nth-child(even) {
  display:block;
}
}
@media only screen and (min-width:38em) {
  img {
    width:32.3%;
    margin-right:1%;
  }
  img:first-child {
    display:none;
  }
}
@media only screen and (min-width:60em) {
  img {
    width:24.8%;
    margin-right:0.2%;
  }
  img:first-child {
    display:block;
  }
}