img {
  display:block;
  width:100%;
  margin-bottom:3px;
}
img:nth-child(even) {
  display:none;
}
@media only screen and (min-width:25em) {
  img {
    float:left;
    width:calc((100% - 6px)/2);
    margin-right:3px;
  }
  img:nth-child(even) {
  display:block;
}
}
@media only screen and (min-width:38em) {
  img {
    width:calc((100% - 9px)/3);
    
  }
  img:first-child {
    display:none;
  }
}
@media only screen and (min-width:60em) {
  body{
    margin-left:18px;
    margin-right: 18px;
  }
  img {
    width:calc((100% - 16px)/4);
    margin-right:4px;
  }
  img:first-child {
    display:block;
  }
}
@media only screen and (min-width:90em){
  body{
      margin-left:30px;
      margin-right: 30px;
   }
}